{
  "openapi": "3.1.0",
  "info": {
    "title": "Fuse API",
    "description": "Lorum (Fuse) clearing, settlement and treasury API: multi-currency accounts, payments, exchanges, transfers, customers/KYC, documents, batch payments and sandbox simulation. Harvested from the provider's public ReadMe reference (per-operation OpenAPI definitions).",
    "contact": {
      "name": "Lorum",
      "url": "https://docs.lorum.com"
    },
    "license": {
      "name": "Proprietary license"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.fuse.me",
      "description": "Production"
    },
    {
      "url": "https://api-sandbox.fuse.me",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/v1/customers/businesses": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add business",
        "description": "Add business",
        "operationId": "add_business",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key to allow safe retrying of the operation. The value should be a unique UUID for each distinct operation. See our understanding idempotency guide for full details.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBusinessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Business has been created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddCustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/individuals": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add individual",
        "description": "Add individual",
        "operationId": "add_individual",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key to allow safe retrying of the operation. The value should be a unique UUID for each distinct operation. See our understanding idempotency guide for full details.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddIndividualRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Individual has been created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddCustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/businesses/{customer_id}/shareholders": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a shareholder to a business",
        "description": "Add a shareholder to a business",
        "operationId": "add_shareholder",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Id of the customer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddShareholderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Business has been created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddShareholderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List shareholders for a business",
        "description": "List shareholders for a business",
        "operationId": "list_shareholders",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Id of the customer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of shareholders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShareholderSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/customers/businesses/{business_id}/shareholders": {
      "post": {
        "tags": [
          "Customers V2"
        ],
        "summary": "Add a shareholder to a business",
        "description": "Add a shareholder to a business",
        "operationId": "add_shareholder_v2",
        "parameters": [
          {
            "name": "business_id",
            "in": "path",
            "description": "Id of the business customer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddShareholderRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Business has been created successfully"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Customers V2"
        ],
        "summary": "List shareholders for a business",
        "description": "List shareholders for a business",
        "operationId": "list_shareholders_v2",
        "parameters": [
          {
            "name": "business_id",
            "in": "path",
            "description": "Id of the business",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of shareholders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShareholderSummaryV2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{customer_id}/archive": {
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Archive the customer so it is no longer available for use in the system.",
        "description": "Archive the customer so it is no longer available for use in the system.\ncustomer linked to an open account can not be archived.",
        "operationId": "archive_customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Customer has been updated successfully"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{customer_id}/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create account",
        "description": "Create account",
        "operationId": "create_customer_account",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key to allow safe retrying of the operation. The value should be a unique UUID for each distinct operation. See our understanding idempotency guide for full details.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "The request to create an account has been accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unable to complete request with data provided"
          },
          "404": {
            "description": "Customer not found"
          },
          "409": {
            "description": "Idempotency-Key concurrency conflict"
          },
          "422": {
            "description": "Idempotency-Key reuse for a different request"
          }
        }
      },
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List a customer's accounts",
        "description": "List a customer's accounts",
        "operationId": "list_customer_accounts",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor to the next page in the result set. If set all the other fields will be ignored.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of resource to return. Max 2000",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "integer",
              "minimum": 0
            }
          },
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a customers accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountsPagedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create outbound payment for a customer",
        "description": "Create outbound payment for a customer",
        "operationId": "create_customer_payment",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key to allow safe retrying of the operation. The value should be a unique UUID for each distinct operation. See our understanding idempotency guide for full details.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerPaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Customer payment has been accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unable to complete request with data provided"
          },
          "404": {
            "description": "Account not found"
          },
          "409": {
            "description": "Idempotency-Key concurrency conflict"
          },
          "422": {
            "description": "Idempotency-Key reuse for a different request"
          }
        }
      }
    },
    "/v1/exchange": {
      "post": {
        "tags": [
          "Exchange"
        ],
        "summary": "Create a currency exchange between two accounts holding different currencies",
        "description": "Create a currency exchange between two accounts holding different currencies",
        "operationId": "create_exchange",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key to allow safe retrying of the operation. The value should be a unique UUID for each distinct operation. See our understanding idempotency guide for full details.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExchangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customer payment has been created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExchangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unable to complete request with data provided"
          },
          "404": {
            "description": "Account not found"
          },
          "409": {
            "description": "Idempotency-Key concurrency conflict"
          },
          "422": {
            "description": "Idempotency-Key reuse for a different request"
          }
        }
      }
    },
    "/v1/internal-transfers": {
      "post": {
        "tags": [
          "Internal Transfers"
        ],
        "summary": "Move funds between two accounts with the same currency",
        "description": "Move funds between two accounts with the same currency",
        "operationId": "create_internal_transfer",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key to allow safe retrying of the operation. The value should be a unique UUID for each distinct operation. See our understanding idempotency guide for full details.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternalTransferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Internal transfer has been created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInternalTransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unable to complete request with data provided"
          },
          "409": {
            "description": "Idempotency-Key concurrency conflict"
          },
          "422": {
            "description": "Idempotency-Key reuse for a different request"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/payments/estimate-fee/{amount}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Estimate the fee for an outbound payment",
        "description": "Estimate the fee for an outbound payment",
        "operationId": "customer_payment_fee_estimate",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "The account id where the intended payment will be made from.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "amount",
            "in": "path",
            "description": "The amount of the payment.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request to estimate fee has been successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateFeeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unable to complete request with data provided"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/confirmation-letter": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account confirmation letter.",
        "description": "Get account confirmation letter.",
        "operationId": "get_account_confirmation_letter",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account Confirmation Letter",
            "headers": {
              "content-disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "Filename"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "description": "Document type"
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/history": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get an account's balance history",
        "description": "Get an account's balance history",
        "operationId": "get_account_history",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AccountHistory",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHistory"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/batches/{batch_id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get a single batch",
        "description": "Get a single batch",
        "operationId": "get_batch",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request to get batch completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{customer_id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer",
        "description": "Get customer",
        "operationId": "get_customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Id of the customer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved contents of directory",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update customer",
        "description": "Update customer",
        "operationId": "update_customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Customer has been updated successfully"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get an account",
        "description": "Get an account",
        "operationId": "get_customer_account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update account data",
        "description": "Update account data",
        "operationId": "patch_customer_account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Request to update account has been accepted"
          }
        }
      }
    },
    "/v1/customers/{customer_id}/onboarding/{currency}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get Customer Onboarding Status for a specific currency",
        "description": "Get Customer Onboarding Status for a specific currency",
        "operationId": "get_customer_onboarding",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OnboardingCurrency"
            },
            "example": "usd"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved customer onboarding status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Onboarding"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Onboard a customer for a specific currency",
        "description": "Onboard a customer for a specific currency",
        "operationId": "onboard_customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OnboardingCurrency"
            },
            "example": "usd"
          }
        ],
        "responses": {
          "201": {
            "description": "Customer successfully onboarded"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/documents/{document_id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get document",
        "description": "Get document",
        "operationId": "get_document",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved contents of directory",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/{transaction_id}/documents": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get linked documents for a transaction",
        "description": "Get linked documents for a transaction",
        "operationId": "get_documents_linked_to_transaction",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved linked documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Link a document to a transaction",
        "description": "Link a document to a transaction",
        "operationId": "link_document_to_transaction",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkDocumentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Document successfully linked to transaction"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchange/quote": {
      "get": {
        "tags": [
          "Exchange"
        ],
        "summary": "Get a quote for an exchange between two currencies",
        "description": "Get a quote for an exchange between two currencies",
        "operationId": "get_exchange_quote",
        "parameters": [
          {
            "name": "from_amount",
            "in": "query",
            "description": "The amount to convert from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "integer",
              "minimum": 0
            }
          },
          {
            "name": "from_account",
            "in": "query",
            "description": "The account the funds will be debited from",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "to_amount",
            "in": "query",
            "description": "The amount to convert to",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "integer",
              "minimum": 0
            }
          },
          {
            "name": "to_account",
            "in": "query",
            "description": "The account the funds will be credited to",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved exchange rate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExchangeRateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Fuse does not support currency exchange between {from_currency} and {to_currency}."
          },
          "404": {
            "description": "Unable to obtain an exchange rate from {from_currency} to {to_currency}. Please contact support."
          },
          "500": {
            "description": "Exchange rates haven't been configured yet. Please contact support."
          }
        }
      }
    },
    "/v1/customers/businesses/shareholders/{shareholder_id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a shareholder",
        "description": "Get a shareholder",
        "operationId": "get_shareholder",
        "parameters": [
          {
            "name": "shareholder_id",
            "in": "path",
            "description": "Id of the customer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the shareholder",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShareholderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a shareholder",
        "description": "Update a shareholder",
        "operationId": "update_shareholder",
        "parameters": [
          {
            "name": "shareholder_id",
            "in": "path",
            "description": "Id of the shareholder",
            "required": true,
            "schema": {
              "type": "string",
              "format": "Uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShareholderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Shareholder has been updated successfully"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v1/transactions/{transaction_id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get a transaction",
        "description": "Get a transaction",
        "operationId": "get_transaction",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/{transaction_id}/confirmation-letter": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction confirmation letter",
        "description": "Get transaction confirmation letter\nThis endpoint is used to get a transaction confirmation letter for outbound transactions.\nConfirmation letters are only available for transactions in a `submitted` or `executed` state.",
        "operationId": "get_transaction_confirmation_letter",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction",
            "headers": {
              "content-disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "Filename"
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "description": "Document type"
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{customer_id}/documents": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Submit a document",
        "description": "Submit a document",
        "operationId": "link_document",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkDocumentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Document successfully linked to customer"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List all accounts for organisation",
        "description": "List all accounts for organisation",
        "operationId": "list_all_customer_accounts",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor to the next page in the result set. If set all the other fields will be ignored.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of resource to return. Max 2000",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "integer",
              "minimum": 0
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "Filter accounts that match the external ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a customers accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountsPagedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/batches": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List batches",
        "description": "List batches",
        "operationId": "list_batches",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Optional cursor for pagination. Base64-encoded value of ListBatchesPageParams.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Optional number of items to return per page. Default is typically used if not specified.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "file_name",
            "in": "query",
            "description": "Optional filter to return only batches that match the entire or part of the file name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request to list batches completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBatchesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List transactions for an account",
        "description": "List transactions for an account",
        "operationId": "list_customer_transactions",
        "parameters": [
          {
            "name": "transaction_state",
            "in": "query",
            "description": "Filter transactions by state",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TransactionState"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "ISO 8601 combined date and time with time zone, that specifies the lower limit of the time window you want to fetch transactions for.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "ISO 8601 combined date and time with time zone, that specifies the upper limit of the time window you want to fetch transactions for.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor to the next page in the result set. If set all the other fields will be ignored.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of resource to return. Max 2000",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "integer",
              "minimum": 0
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTransactionsPagedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "description": "List customers",
        "operationId": "list_customers",
        "parameters": [
          {
            "name": "reference",
            "in": "query",
            "description": "Filter customers by reference ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_type",
            "in": "query",
            "description": "Filter customers by their type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CustomerTypeFilter"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Base64 encoded pagination cursor for fetching subsequent pages",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of customers to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "List documents",
        "description": "List documents",
        "operationId": "list_documents",
        "parameters": [
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "document_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DocumentType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved contents of directory",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDocumentsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Upload Document",
        "description": "Upload Document",
        "operationId": "upload_document",
        "requestBody": {
          "description": "Document",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadDocumentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully uploaded file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadDocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/batches/files": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Upload payment batch file.",
        "description": "Upload payment batch file.",
        "operationId": "post_batch_file",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key to allow safe retrying of the operation. The value should be a unique UUID for each distinct operation. See our understanding idempotency guide for full details.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadBatchFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Batch file has successfully been created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadBatchFileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unable to upload batch file due to bad data"
          }
        }
      }
    },
    "/v1/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get all transactions across accounts",
        "description": "Get all transactions across accounts",
        "operationId": "public_list_all_transactions",
        "parameters": [
          {
            "name": "batch_id",
            "in": "query",
            "description": "Filter transactions by batch ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "transaction_state",
            "in": "query",
            "description": "Filter transactions by state",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TransactionState"
            }
          },
          {
            "name": "payment_type",
            "in": "query",
            "description": "Filter transactions payment type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PaymentTypeQuery"
            }
          },
          {
            "name": "customer_account_id",
            "in": "query",
            "description": "Filter transactions by customer account ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "ISO 8601 combined date and time with time zone, that specifies the lower limit of the time window you want to fetch transactions for.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "ISO 8601 combined date and time with time zone, that specifies the upper limit of the time window you want to fetch transactions for.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Filter transactions that match the part of the reference",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "Filter transactions that match the external ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "account_name",
            "in": "query",
            "description": "Filter transactions by account display name (substring match)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor to the next page in the result set. If set all the other fields will be ignored.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of resource to return. Max 2000",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTransactionsPagedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/simulate/execute-payment": {
      "post": {
        "tags": [
          "Simulation"
        ],
        "summary": "Simulate executed status for an outbound payment",
        "description": "Simulate executed status for an outbound payment",
        "operationId": "simulate_execute_payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateExecutePaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request to execute payment has completed"
          }
        }
      }
    },
    "/v1/simulate/fail-payment": {
      "post": {
        "tags": [
          "Simulation"
        ],
        "summary": "Simulate failed status for an outbound payment",
        "description": "Simulate failed status for an outbound payment",
        "operationId": "simulate_fail_payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateFailPaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request to fail payment has completed"
          }
        }
      }
    },
    "/v1/simulate/inbound-payment": {
      "post": {
        "tags": [
          "Simulation"
        ],
        "summary": "Simulate inbound payment",
        "description": "Simulate inbound payment",
        "operationId": "simulate_inbound_payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateInboundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Simulated Inbound payment created"
          }
        }
      }
    },
    "/v1/simulate/return-payment": {
      "post": {
        "tags": [
          "Simulation"
        ],
        "summary": "Simulate a return payment.",
        "description": "Simulate a return payment.",
        "operationId": "simulate_return_payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateReturnedPaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request to create a returned payment has completed"
          }
        }
      }
    },
    "/v1/customers/{customer_id}/documents/{document_id}": {
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Unlink a document from a customer.",
        "description": "Unlink a document from a customer.\nA document belonging to a USD onboarded customer cannot be unlinked from the customer.",
        "operationId": "unlink_document",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Document successfully unlinked from customer"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "Get a bearer token",
        "description": "This API is designed to issue a bearer token for a valid user. The API will accept a request containing the user's credentials and return a response containing a bearer token.",
        "operationId": "getting-a-bearer-token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret",
                  "audience",
                  "grant_type"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Client ID provided when signing up to the Fuse sandbox"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Client secret provided when signing up to the Fuse sandbox"
                  },
                  "audience": {
                    "type": "string",
                    "default": "https://api.fuse.me"
                  },
                  "grant_type": {
                    "type": "string",
                    "default": "client_credentials"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImYxMXhWYV9hUHM1cFFEZVNWdzZLYyJ9.eyJpc3MiOiJodHRwczovL2Z1c2ViYW5rZGV2LnVrLmF1dGgwLmNvbS8iLCJzdWIiOiJ0R2w3OWFlYkhOSEV1V2R5bWVtUmJQbXU3UkxnMVVrckBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9hcGkuZnVzZWJhbmsuaW8iLCJpYXQiOjE2Nzg1NTA3MTcsImV4cCI6MTY3ODYzNzExNywiYXpwIjoidEdsNzlhZWJITkhFdVdkeW1lbVJiUG11N1JMZzFVa3IiLCJzY29wZSI6InRlc3Rfc2NvcGUgcmVhZDp0ZXN0IiwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIn0.e3H87kiwczZeRHgPtw5q7vFL9z9jx1QqRgQu4bSjGjdZf20-lw_k6LkJcPuhFnxtssLDDCwXtmspFsPwU89WFvkklY-rZ99lP5PK-mMUEgnF1irKyv1WhC5hPGLhM9grsEMlfEr83KAL8HNno0RQHa_GID2jfNcnwrLafik2cm_vHn9z14gJOBt5pdk0HBYtAQem-_rbJOI3pAyJrX46N-AwVMkj3E1ReXcpMBgIvfhasQGtOL7UXDJh_sJDKBGJPmhc5ElWtqqzT23zc-AJpgE32FmzjIi6YofPKYLdQ83J90chYtZbDv95Wk6ELbaeIpFaokKILN399RArb8EshQ\",\n  \"scope\": \"test_scope read:test\",\n  \"expires_in\": 86400,\n  \"token_type\": \"Bearer\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImYxMXhWYV9hUHM1cFFEZVNWdzZLYyJ9.eyJpc3MiOiJodHRwczovL2Z1c2ViYW5rZGV2LnVrLmF1dGgwLmNvbS8iLCJzdWIiOiJ0R2w3OWFlYkhOSEV1V2R5bWVtUmJQbXU3UkxnMVVrckBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9hcGkuZnVzZWJhbmsuaW8iLCJpYXQiOjE2Nzg1NTA3MTcsImV4cCI6MTY3ODYzNzExNywiYXpwIjoidEdsNzlhZWJITkhFdVdkeW1lbVJiUG11N1JMZzFVa3IiLCJzY29wZSI6InRlc3Rfc2NvcGUgcmVhZDp0ZXN0IiwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIn0.e3H87kiwczZeRHgPtw5q7vFL9z9jx1QqRgQu4bSjGjdZf20-lw_k6LkJcPuhFnxtssLDDCwXtmspFsPwU89WFvkklY-rZ99lP5PK-mMUEgnF1irKyv1WhC5hPGLhM9grsEMlfEr83KAL8HNno0RQHa_GID2jfNcnwrLafik2cm_vHn9z14gJOBt5pdk0HBYtAQem-_rbJOI3pAyJrX46N-AwVMkj3E1ReXcpMBgIvfhasQGtOL7UXDJh_sJDKBGJPmhc5ElWtqqzT23zc-AJpgE32FmzjIi6YofPKYLdQ83J90chYtZbDv95Wk6ELbaeIpFaokKILN399RArb8EshQ"
                    },
                    "scope": {
                      "type": "string",
                      "example": "test_scope read:test"
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 86400,
                      "default": 0
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://auth.fuse.me",
            "description": "Production auth"
          },
          {
            "url": "https://auth-sandbox.fuse.me",
            "description": "Sandbox auth"
          }
        ],
        "security": [
          {}
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AddBusinessRequest": {
        "type": "object",
        "required": [
          "display_name",
          "reference",
          "address",
          "business_name",
          "registration_number",
          "country_of_issuance"
        ],
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "business_name": {
            "type": "string",
            "format": "string",
            "maxLength": 140
          },
          "country_of_issuance": {
            "type": "string",
            "format": "string"
          },
          "currency_extra": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessCurrencyExtra"
            }
          },
          "display_name": {
            "type": "string",
            "format": "string",
            "maxLength": 140
          },
          "issuance_authority": {
            "type": [
              "string",
              "null"
            ],
            "format": "string",
            "maxLength": 140
          },
          "linked_documents": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Document ids for the companies trading licenses.",
            "deprecated": true
          },
          "reference": {
            "type": "string",
            "format": "string",
            "description": "External ID used for correlating the resource with an external system. If specified during transaction creation,\nthis ID will be associated with and visible on all resources related to the customer.",
            "maxLength": 36
          },
          "registration_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "registration_number": {
            "type": "string",
            "format": "string",
            "maxLength": 140
          },
          "regulatory_licenses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegulatoryLicenseType"
            },
            "description": "Select one or more license types that the customer holds. If the customer\ndoes not hold any licenses then None should be selected."
          },
          "relationship_type": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CustomerRelationshipType",
                "description": "The relationship type of the customer to the organisation."
              }
            ],
            "default": "direct"
          }
        }
      },
      "AddCustomerResponse": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "Uuid"
          }
        }
      },
      "Address": {
        "type": "object",
        "required": [
          "line_1",
          "country_code"
        ],
        "properties": {
          "country_code": {
            "type": "string",
            "format": "string",
            "maxLength": 2,
            "minLength": 2
          },
          "line_1": {
            "type": "string",
            "format": "string",
            "maxLength": 50
          },
          "line_2": {
            "type": [
              "string",
              "null"
            ],
            "format": "string",
            "description": "***optional*** for `AED` payments but ***mandatory*** for `USD` payments",
            "maxLength": 50
          },
          "line_3": {
            "type": [
              "string",
              "null"
            ],
            "format": "string",
            "maxLength": 50
          },
          "line_4": {
            "type": [
              "string",
              "null"
            ],
            "format": "string",
            "maxLength": 50
          }
        }
      },
      "AedLicenseIssuer": {
        "type": "string",
        "enum": [
          "mainland",
          "freezone",
          "international"
        ]
      },
      "BusinessCurrencyExtra": {
        "oneOf": [
          {
            "type": "object",
            "title": "Usd",
            "required": [
              "tax_number",
              "industry_code",
              "currency"
            ],
            "properties": {
              "currency": {
                "type": "string",
                "enum": [
                  "usd"
                ]
              },
              "industry_code": {
                "type": "string",
                "format": "string",
                "description": "US industry code as defined by the North American Industry Classification System (NAICS) system.\nSee https://reference.fuse.me/naics.html for supported list of codes.",
                "maxLength": 6,
                "minLength": 6
              },
              "ip_address": {
                "type": "string",
                "format": "string",
                "description": "Optional IP address to use as a Proof of Address. Can be in IPv4 or IPv6 format.",
                "maxLength": 45,
                "minLength": 2
              },
              "tax_number": {
                "type": "string",
                "format": "string",
                "description": "Valid business tax number.",
                "maxLength": 100,
                "minLength": 1
              }
            }
          },
          {
            "type": "object",
            "title": "Aed",
            "required": [
              "license_issuer",
              "currency"
            ],
            "properties": {
              "currency": {
                "type": "string",
                "enum": [
                  "aed"
                ]
              },
              "license_issuer": {
                "$ref": "#/components/schemas/AedLicenseIssuer",
                "description": "License issuer type. Use Mainland for businesses registered with the UAE mainland authority,\nor Freezone for businesses registered in a UAE free zone."
              },
              "trade_license_expiry": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date"
              }
            }
          }
        ],
        "description": "Represents the currency specific data for a business."
      },
      "CustomerRelationshipType": {
        "oneOf": [
          {
            "type": "string",
            "description": "The customer is a direct customer of the organisation.\nThe customer is contracted with the organisation.",
            "enum": [
              "direct"
            ]
          },
          {
            "type": "object",
            "description": "The customer is a sub-customer of the organisation.\nThe customer is contracted with a direct customer of the organisation.",
            "required": [
              "indirect"
            ],
            "properties": {
              "indirect": {
                "type": "object",
                "description": "The customer is a sub-customer of the organisation.\nThe customer is contracted with a direct customer of the organisation.",
                "required": [
                  "parent_customer_id"
                ],
                "properties": {
                  "parent_customer_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        ],
        "description": "Represents the relationship between a customer and the organisation."
      },
      "ErrorResponse": {
        "type": "object",
        "description": "User-facing error type.\n\nThis is the general error structure returned by all api routes.",
        "required": [
          "error",
          "message",
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Specific error code."
          },
          "error": {
            "type": "string",
            "description": "Soon to be deprecated."
          },
          "message": {
            "type": "string",
            "description": "Renaming of `error`. Human-readable description of the error."
          }
        }
      },
      "RegulatoryLicenseType": {
        "type": "string",
        "enum": [
          "banking",
          "card_acquiring",
          "card_issuer",
          "crypto_asset",
          "electronic_money",
          "forex",
          "payments",
          "none",
          "other",
          "trading"
        ]
      },
      "AddIndividualRequest": {
        "type": "object",
        "required": [
          "display_name",
          "reference",
          "address",
          "first_name",
          "last_name",
          "date_of_birth",
          "gender",
          "nationality"
        ],
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "currency_extra": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/IndividualCurrencyExtra"
            }
          },
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "display_name": {
            "type": "string",
            "format": "string",
            "maxLength": 140
          },
          "first_name": {
            "type": "string",
            "format": "string",
            "maxLength": 45
          },
          "gender": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Gender"
              }
            ]
          },
          "identification": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/IndividualIdentification",
                "description": "Identification document of the individual."
              }
            ]
          },
          "last_name": {
            "type": "string",
            "format": "string",
            "maxLength": 45
          },
          "middle_name": {
            "type": [
              "string",
              "null"
            ],
            "format": "string",
            "maxLength": 45
          },
          "nationality": {
            "type": "string",
            "format": "string",
            "maxLength": 2,
            "minLength": 2
          },
          "reference": {
            "type": "string",
            "format": "string",
            "description": "Reference set by the customer. Max 36 characters.",
            "maxLength": 36
          },
          "relationship_type": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CustomerRelationshipType",
                "description": "The relationship type of the customer to the organisation."
              }
            ],
            "default": "direct"
          }
        }
      },
      "Gender": {
        "type": "string",
        "enum": [
          "male",
          "female",
          "undefined"
        ]
      },
      "IndividualCurrencyExtra": {
        "oneOf": [
          {
            "type": "object",
            "title": "Usd",
            "required": [
              "id_number",
              "country_of_issuance",
              "country_of_birth",
              "occupation_code",
              "currency"
            ],
            "properties": {
              "country_of_birth": {
                "type": "string",
                "format": "string",
                "description": "Country of birth. it should be ISO3166-1 Alpha2 country code",
                "maxLength": 2,
                "minLength": 2
              },
              "country_of_issuance": {
                "type": "string",
                "format": "string",
                "description": "Country where id was issues. it should be ISO3166-1 Alpha2 country code",
                "maxLength": 2,
                "minLength": 2
              },
              "currency": {
                "type": "string",
                "enum": [
                  "usd"
                ]
              },
              "id_number": {
                "type": "string",
                "format": "string",
                "description": "Valid person id number (Passport or national id).",
                "maxLength": 100,
                "minLength": 1
              },
              "ip_address": {
                "type": "string",
                "format": "string",
                "description": "Optional IP address to use as a Proof of Address. Can be in IPv4 or IPv6 format.",
                "maxLength": 45,
                "minLength": 2
              },
              "occupation_code": {
                "type": "string",
                "format": "string",
                "description": "US occupation code as defined by the Standard Occupational Classification (SOC) system.\nSee https://reference.fuse.me/soc.html for supported list of codes.",
                "maxLength": 6,
                "minLength": 6
              }
            }
          }
        ],
        "description": "Represents the currency specific data for an individual."
      },
      "IndividualIdentification": {
        "oneOf": [
          {
            "type": "object",
            "title": "Passport",
            "required": [
              "number",
              "expiry_date",
              "country_of_issuance",
              "type"
            ],
            "properties": {
              "country_of_issuance": {
                "type": "string",
                "format": "string",
                "description": "Country of issuance (i.e: US, AE)",
                "maxLength": 2,
                "minLength": 2
              },
              "expiry_date": {
                "type": "string",
                "format": "date",
                "description": "Expiry date of the passport."
              },
              "number": {
                "type": "string",
                "format": "string",
                "description": "Passport number.",
                "maxLength": 100,
                "minLength": 1
              },
              "type": {
                "type": "string",
                "enum": [
                  "passport"
                ]
              }
            }
          },
          {
            "type": "object",
            "title": "NationalId",
            "required": [
              "number",
              "expiry_date",
              "country_of_issuance",
              "type"
            ],
            "properties": {
              "country_of_issuance": {
                "type": "string",
                "format": "string",
                "description": "Country of issuance. (i.e: US, AE)",
                "maxLength": 2,
                "minLength": 2
              },
              "expiry_date": {
                "type": "string",
                "format": "date",
                "description": "Expiry date of the ID."
              },
              "number": {
                "type": "string",
                "format": "string",
                "description": "National ID number.",
                "maxLength": 100,
                "minLength": 1
              },
              "type": {
                "type": "string",
                "enum": [
                  "national_id"
                ]
              }
            }
          }
        ],
        "description": "Individual Identification\n\nIdentification document of an individual."
      },
      "AddShareholder": {
        "oneOf": [
          {
            "type": "object",
            "title": "Shareholder",
            "required": [
              "shareholder"
            ],
            "properties": {
              "shareholder": {
                "type": "object",
                "required": [
                  "first_name",
                  "last_name",
                  "dob",
                  "pob",
                  "id_type",
                  "id_number"
                ],
                "properties": {
                  "dob": {
                    "type": "string",
                    "format": "date"
                  },
                  "first_name": {
                    "type": "string",
                    "format": "string",
                    "maxLength": 45
                  },
                  "id_number": {
                    "type": "string",
                    "format": "string",
                    "maxLength": 50
                  },
                  "id_type": {
                    "$ref": "#/components/schemas/WatchlistIdType"
                  },
                  "last_name": {
                    "type": "string",
                    "format": "string",
                    "maxLength": 45
                  },
                  "middle_name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "string",
                    "maxLength": 45
                  },
                  "pob": {
                    "type": "string",
                    "format": "string"
                  }
                }
              }
            }
          },
          {
            "type": "object",
            "title": "BusinessShareholder",
            "required": [
              "business_shareholder"
            ],
            "properties": {
              "business_shareholder": {
                "type": "object",
                "required": [
                  "name",
                  "registration_number"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "format": "string",
                    "maxLength": 140
                  },
                  "registration_number": {
                    "type": "string",
                    "format": "string",
                    "maxLength": 140
                  }
                }
              }
            }
          }
        ]
      },
      "AddShareholderRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AddShareholder"
          },
          {
            "type": "object",
            "required": [
              "holding_percentage"
            ],
            "properties": {
              "holding_percentage": {
                "type": "integer",
                "format": "int32",
                "minimum": 0
              },
              "shareholder_of": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "Uuid"
              }
            }
          }
        ],
        "description": "Company 1\n  |--> Shareholder 1 (Business)\n  |    |--> Shareholder 3 (Individual)\n  |--> Shareholder 2 (Business)\n  |    |--> Shareholder 4 (Business)\n            |--> Shareholder 5 (Individual)\n\n"
      },
      "AddShareholderResponse": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "Uuid"
          }
        }
      },
      "WatchlistIdType": {
        "type": "string",
        "enum": [
          "passport",
          "national_id"
        ]
      },
      "AddShareholderRequestV2": {
        "type": "object",
        "required": [
          "ownership_percentage"
        ],
        "properties": {
          "customer_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "Uuid",
            "description": "`customer_id` of the shareholder."
          },
          "ownership_percentage": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "CreateAccountRequest": {
        "type": "object",
        "required": [
          "account_name",
          "external_id",
          "currency",
          "account_type"
        ],
        "properties": {
          "account_name": {
            "type": "string",
            "format": "string",
            "description": "Friendly label set by the client",
            "maxLength": 140
          },
          "account_type": {
            "$ref": "#/components/schemas/CreateAccountType",
            "description": "The account type of the account.\nNote: 'payment' is deprecated and not supported for new accounts. Use 'virtual' instead."
          },
          "currency": {
            "$ref": "#/components/schemas/Currency",
            "description": "The desired currency for the account."
          },
          "external_id": {
            "type": "string",
            "format": "string",
            "description": "Id to be set by the client",
            "maxLength": 36
          }
        }
      },
      "CreateAccountResponse": {
        "type": "object",
        "required": [
          "account_id"
        ],
        "properties": {
          "account_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CreateAccountType": {
        "type": "string",
        "description": "The type of account to be created.\nNote: 'Payment' is deprecated and not supported for new accounts.\nAccount type will always be 'Virtual'.",
        "enum": [
          "payment",
          "virtual"
        ]
      },
      "Currency": {
        "type": "string",
        "enum": [
          "AED",
          "USD",
          "JOD",
          "EGP",
          "SAR",
          "GBP",
          "EUR",
          "HKD",
          "CNH",
          "SGD"
        ]
      },
      "AccountDetailsIdentifier": {
        "oneOf": [
          {
            "type": "object",
            "title": "IBAN",
            "required": [
              "iban"
            ],
            "properties": {
              "iban": {
                "type": "string",
                "format": "string"
              }
            }
          },
          {
            "type": "object",
            "title": "Wire",
            "required": [
              "wire"
            ],
            "properties": {
              "wire": {
                "$ref": "#/components/schemas/WireBankDetails"
              }
            }
          },
          {
            "type": "object",
            "title": "SCAN",
            "required": [
              "scan"
            ],
            "properties": {
              "scan": {
                "$ref": "#/components/schemas/ScanDetails"
              }
            }
          }
        ]
      },
      "BeneficiaryBank": {
        "type": "object",
        "description": "Bank details of payment beneficiary bank.",
        "properties": {
          "branch": {
            "type": [
              "string",
              "null"
            ],
            "format": "string",
            "description": "The branch of the bank where the beneficiary account is held.",
            "maxLength": 50
          },
          "code": {
            "type": [
              "string",
              "null"
            ],
            "description": "The BIC code of the bank where the beneficiary account is held.\nOptional for AED payments. Mandatory for USD payments.",
            "minLength": 8
          },
          "intermediary_bank": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/IntermediaryBank",
                "description": "The intermediary bank details."
              }
            ]
          }
        }
      },
      "BicCode": {
        "type": "string",
        "description": "BIC Code to identify a bank."
      },
      "CounterpartType": {
        "type": "string",
[...]
